.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.complete {
  text-decoration: line-through;
}

.fa-check,
.fa-trash {
  cursor: pointer;
  font-size: 18px;
}
